*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #091921;
}

.container {
  border: 1px solid rgba(67, 136, 168, 0.904);
  color: #ffffff;
  display: grid;
  grid-template: minmax(150px, auto) repeat(5, 55px) / repeat(4, 75px);
}

.container .calc-numbers {
  background: #000000;
}

.container .calc-equals {
  background: rgba(68, 108, 134, 0.704);
}

.container .calc-equals:hover {
  background: rgba(68, 108, 134, 1);
}

.container > button {
  color: #ffffff;
  font-size: 1.2rem;
  background: #1f1f1f;
  border: 1px solid rgba(58, 56, 54, 0.904);
}

.container > button:hover {
  cursor: pointer;
  background: #353535;
  box-shadow: 0 0 0 1px rgba(131, 126, 123, 0.904);
}

.container > button:active {
  background: #4c4c4c;
}

.container > button:focus {
  outline: none;
}

.output {
  grid-column: 1 / -1;
  border: 1px solid rgba(58, 56, 54, 0.904);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  font-weight: 700;
  word-wrap: break-word;
  word-break: break-all;
}

.output .current-operand {
  font-size: 2.5rem;
}

.output .previous-operand {
  font-size: 1rem;
}
