.help {
    padding: 81px 0 99px;

    &__title {
        max-width: 310px;
        text-align: center;

    }

    &__list {
        @include flex(center, stretch, row, wrap);
        column-gap: 120px;
        row-gap: 55px;
        padding-top: 60px;

        &-item {
            @include flex(space-between, center, column);
            row-gap: 29px;

            img {
                height: 60px;
                width: 60px;
            }

            h4 {
                color: $color-dark-l;
            }
        }
    }
}