@import 'abstracts/variables';
@import 'base/reset';
@import 'components/buttons';
@import 'layout/header';
@import 'layout/footers';
@import 'pages/startScreen';
@import 'pages/about';
@import 'pages/pets';
@import 'pages/help';
@import 'pages/donation';
@import 'typography/typography';

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

html {
    font-size: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.flex-center {
    justify-content: center;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}




//TODO - сделать h1 и скрыть его или засунуть в лого
// Палитра цветов + проверить цвета для текста